:where([data-gx-theme] :focus-visible) {
  outline: 1px solid var(--gx-color-border-focused);
  outline-offset: 1px;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
