// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as Filament from "../../../../../index.js";

export declare namespace ScheduleClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScheduleClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScheduleClient.Options>;

    constructor(options: ScheduleClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Pipeline schedules; one primary schedule per pipeline. Enable/disable is
     *  expressed through PipelineScheduleConfig.is_enabled on update; a schedule
     *  is removed only by deleting its pipeline.
     *
     * @param {Filament.pipeline.IngestionV1CreatePipelineScheduleRequest} request
     * @param {ScheduleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.schedule.create({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public create(
        request: Filament.pipeline.IngestionV1CreatePipelineScheduleRequest = {},
        requestOptions?: ScheduleClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1CreatePipelineScheduleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Filament.pipeline.IngestionV1CreatePipelineScheduleRequest = {},
        requestOptions?: ScheduleClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1CreatePipelineScheduleResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "ingestion.v1.IngestionService/CreatePipelineSchedule",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1CreatePipelineScheduleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/CreatePipelineSchedule",
        );
    }

    /**
     * @param {Filament.pipeline.IngestionV1UpdatePipelineScheduleRequest} request
     * @param {ScheduleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.schedule.update({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public update(
        request: Filament.pipeline.IngestionV1UpdatePipelineScheduleRequest = {},
        requestOptions?: ScheduleClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1UpdatePipelineScheduleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Filament.pipeline.IngestionV1UpdatePipelineScheduleRequest = {},
        requestOptions?: ScheduleClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1UpdatePipelineScheduleResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "ingestion.v1.IngestionService/UpdatePipelineSchedule",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1UpdatePipelineScheduleResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/UpdatePipelineSchedule",
        );
    }
}
