// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as Filament from "../../../../../index.js";

export declare namespace VersionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VersionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VersionClient.Options>;

    constructor(options: VersionClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Filament.pipeline.IngestionV1CreatePipelineVersionRequest} request
     * @param {VersionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.version.create({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public create(
        request: Filament.pipeline.IngestionV1CreatePipelineVersionRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1CreatePipelineVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Filament.pipeline.IngestionV1CreatePipelineVersionRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1CreatePipelineVersionResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "ingestion.v1.IngestionService/CreatePipelineVersion",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1CreatePipelineVersionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/CreatePipelineVersion",
        );
    }

    /**
     * @param {Filament.pipeline.IngestionV1GetPipelineVersionRequest} request
     * @param {VersionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.version.get({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public get(
        request: Filament.pipeline.IngestionV1GetPipelineVersionRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1GetPipelineVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Filament.pipeline.IngestionV1GetPipelineVersionRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1GetPipelineVersionResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "ingestion.v1.IngestionService/GetPipelineVersion",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1GetPipelineVersionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/GetPipelineVersion",
        );
    }

    /**
     * @param {Filament.pipeline.IngestionV1ListPipelineVersionsRequest} request
     * @param {VersionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.version.list({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public list(
        request: Filament.pipeline.IngestionV1ListPipelineVersionsRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1ListPipelineVersionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Filament.pipeline.IngestionV1ListPipelineVersionsRequest = {},
        requestOptions?: VersionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1ListPipelineVersionsResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "ingestion.v1.IngestionService/ListPipelineVersions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1ListPipelineVersionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/ListPipelineVersions",
        );
    }
}
