// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Filament from "../../../index.js";

export declare namespace ServiceAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ServiceAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ServiceAccountClient.Options>;

    constructor(options: ServiceAccountClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Filament.AuthV1CreateServiceAccountRequest} request
     * @param {ServiceAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.serviceAccount.create({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public create(
        request: Filament.AuthV1CreateServiceAccountRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1CreateServiceAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Filament.AuthV1CreateServiceAccountRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1CreateServiceAccountResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/CreateServiceAccount",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.AuthV1CreateServiceAccountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/CreateServiceAccount",
        );
    }

    /**
     * Service accounts; authenticated tenant administration. Secrets are only
     *  returned by create and rotate and cannot be retrieved later.
     *
     * @param {Filament.ListServiceAccountRequest} request
     * @param {ServiceAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.serviceAccount.list({
     *         "Connect-Timeout-Ms": 1000,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public list(
        request: Filament.ListServiceAccountRequest,
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1ListServiceAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Filament.ListServiceAccountRequest,
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1ListServiceAccountsResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/ListServiceAccounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.AuthV1ListServiceAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/ListServiceAccounts",
        );
    }

    /**
     * @param {Filament.AuthV1RemoveServiceAccountRequest} request
     * @param {ServiceAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.serviceAccount.remove({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public remove(
        request: Filament.AuthV1RemoveServiceAccountRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1RemoveServiceAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__remove(request, requestOptions));
    }

    private async __remove(
        request: Filament.AuthV1RemoveServiceAccountRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1RemoveServiceAccountResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/RemoveServiceAccount",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.AuthV1RemoveServiceAccountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/RemoveServiceAccount",
        );
    }

    /**
     * @param {Filament.AuthV1RotateServiceAccountSecretRequest} request
     * @param {ServiceAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.serviceAccount.rotateSecret({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public rotateSecret(
        request: Filament.AuthV1RotateServiceAccountSecretRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1RotateServiceAccountSecretResponse> {
        return core.HttpResponsePromise.fromPromise(this.__rotateSecret(request, requestOptions));
    }

    private async __rotateSecret(
        request: Filament.AuthV1RotateServiceAccountSecretRequest = {},
        requestOptions?: ServiceAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1RotateServiceAccountSecretResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/RotateServiceAccountSecret",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.AuthV1RotateServiceAccountSecretResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/RotateServiceAccountSecret",
        );
    }
}
