// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Filament from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthClient.Options>;

    constructor(options: AuthClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Filament.AuthV1AcceptInviteRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.acceptInvite({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public acceptInvite(
        request: Filament.AuthV1AcceptInviteRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1AcceptInviteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__acceptInvite(request, requestOptions));
    }

    private async __acceptInvite(
        request: Filament.AuthV1AcceptInviteRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1AcceptInviteResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/AcceptInvite",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1AcceptInviteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/AcceptInvite",
        );
    }

    /**
     * Session; pre-token, public. An empty issuer means auth is disabled.
     *
     * @param {Filament.GetConfigAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.getConfig({
     *         "Connect-Timeout-Ms": 1000,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public getConfig(
        request: Filament.GetConfigAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1GetAuthConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConfig(request, requestOptions));
    }

    private async __getConfig(
        request: Filament.GetConfigAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1GetAuthConfigResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/GetAuthConfig",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1GetAuthConfigResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/GetAuthConfig",
        );
    }

    /**
     * Session; authenticated. The UI's sign-in check.
     *
     * @param {Filament.GetSessionAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.getSession({
     *         "Connect-Timeout-Ms": 1000,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public getSession(
        request: Filament.GetSessionAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1GetSessionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSession(request, requestOptions));
    }

    private async __getSession(
        request: Filament.GetSessionAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1GetSessionResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/GetSession",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1GetSessionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/GetSession",
        );
    }

    /**
     * @param {Filament.AuthV1GetTokenRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.getToken({
     *         "Connect-Timeout-Ms": 1000,
     *         clientId: "clientId",
     *         clientSecret: "clientSecret"
     *     })
     */
    public getToken(
        request: Filament.AuthV1GetTokenRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1GetTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getToken(request, requestOptions));
    }

    private async __getToken(
        request: Filament.AuthV1GetTokenRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1GetTokenResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/GetToken",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1GetTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/GetToken",
        );
    }

    /**
     * @param {Filament.AuthV1LoginRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.login({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public login(
        request: Filament.AuthV1LoginRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1LoginResponse> {
        return core.HttpResponsePromise.fromPromise(this.__login(request, requestOptions));
    }

    private async __login(
        request: Filament.AuthV1LoginRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1LoginResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/Login",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1LoginResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/auth.v1.AuthService/Login");
    }

    /**
     * @param {Filament.LogoutAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.logout({
     *         "Connect-Timeout-Ms": 1000,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public logout(
        request: Filament.LogoutAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1LogoutResponse> {
        return core.HttpResponsePromise.fromPromise(this.__logout(request, requestOptions));
    }

    private async __logout(
        request: Filament.LogoutAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1LogoutResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/Logout",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1LogoutResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/auth.v1.AuthService/Logout");
    }

    /**
     * @param {Filament.AuthV1RegisterRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.auth.register({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public register(
        request: Filament.AuthV1RegisterRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.AuthV1RegisterResponse> {
        return core.HttpResponsePromise.fromPromise(this.__register(request, requestOptions));
    }

    private async __register(
        request: Filament.AuthV1RegisterRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.AuthV1RegisterResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FilamentEnvironment.Default,
                "auth.v1.AuthService/Register",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Filament.AuthV1RegisterResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/auth.v1.AuthService/Register",
        );
    }
}
