// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Filament from "../../../index.js";

export declare namespace ConnectorClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectorClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectorClient.Options>;

    constructor(options: ConnectorClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Filament.IngestionV1DiscoverResourcesRequest} request
     * @param {ConnectorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.connector.discoverResources({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public discoverResources(
        request: Filament.IngestionV1DiscoverResourcesRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1DiscoverResourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__discoverResources(request, requestOptions));
    }

    private async __discoverResources(
        request: Filament.IngestionV1DiscoverResourcesRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1DiscoverResourcesResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/DiscoverResources",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1DiscoverResourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/DiscoverResources",
        );
    }

    /**
     * @param {Filament.IngestionV1GetConnectorRequest} request
     * @param {ConnectorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.connector.get({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public get(
        request: Filament.IngestionV1GetConnectorRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1GetConnectorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Filament.IngestionV1GetConnectorRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1GetConnectorResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/GetConnector",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1GetConnectorResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/GetConnector",
        );
    }

    /**
     * @param {Filament.IngestionV1GetResourceColumnsRequest} request
     * @param {ConnectorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.connector.getResourceColumns({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public getResourceColumns(
        request: Filament.IngestionV1GetResourceColumnsRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1GetResourceColumnsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getResourceColumns(request, requestOptions));
    }

    private async __getResourceColumns(
        request: Filament.IngestionV1GetResourceColumnsRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1GetResourceColumnsResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/GetResourceColumns",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1GetResourceColumnsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/GetResourceColumns",
        );
    }

    /**
     * Catalog of registered source/sink connectors and their config schemas.
     *
     * @param {Filament.IngestionV1ListConnectorsRequest} request
     * @param {ConnectorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.connector.list({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public list(
        request: Filament.IngestionV1ListConnectorsRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1ListConnectorsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Filament.IngestionV1ListConnectorsRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1ListConnectorsResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/ListConnectors",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1ListConnectorsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/ListConnectors",
        );
    }

    /**
     * Ephemeral source/sink operations; no persisted state.
     *
     * @param {Filament.IngestionV1ValidateConfigRequest} request
     * @param {ConnectorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.connector.validateConfig({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public validateConfig(
        request: Filament.IngestionV1ValidateConfigRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1ValidateConfigResponse> {
        return core.HttpResponsePromise.fromPromise(this.__validateConfig(request, requestOptions));
    }

    private async __validateConfig(
        request: Filament.IngestionV1ValidateConfigRequest = {},
        requestOptions?: ConnectorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1ValidateConfigResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/ValidateConfig",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1ValidateConfigResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/ValidateConfig",
        );
    }
}
