// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Filament from "../../../index.js";
import { NotifierClient } from "../resources/notifier/client/Client.js";
import { ScheduleClient } from "../resources/schedule/client/Client.js";
import { VersionClient } from "../resources/version/client/Client.js";

export declare namespace PipelineClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PipelineClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PipelineClient.Options>;
    protected _notifier: NotifierClient | undefined;
    protected _schedule: ScheduleClient | undefined;
    protected _version: VersionClient | undefined;

    constructor(options: PipelineClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get notifier(): NotifierClient {
        return (this._notifier ??= new NotifierClient(this._options));
    }

    public get schedule(): ScheduleClient {
        return (this._schedule ??= new ScheduleClient(this._options));
    }

    public get version(): VersionClient {
        return (this._version ??= new VersionClient(this._options));
    }

    /**
     * Pipelines; the persisted node graph.
     *
     * @param {Filament.IngestionV1CreatePipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.create({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public create(
        request: Filament.IngestionV1CreatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1CreatePipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Filament.IngestionV1CreatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1CreatePipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/CreatePipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1CreatePipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/CreatePipeline",
        );
    }

    /**
     * @param {Filament.IngestionV1DeletePipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.delete({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public delete(
        request: Filament.IngestionV1DeletePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1DeletePipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Filament.IngestionV1DeletePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1DeletePipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/DeletePipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1DeletePipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/DeletePipeline",
        );
    }

    /**
     * @param {Filament.IngestionV1GetPipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.get({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public get(
        request: Filament.IngestionV1GetPipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1GetPipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Filament.IngestionV1GetPipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1GetPipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/GetPipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1GetPipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/GetPipeline",
        );
    }

    /**
     * @param {Filament.IngestionV1ListPipelinesRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.list({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public list(
        request: Filament.IngestionV1ListPipelinesRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1ListPipelinesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Filament.IngestionV1ListPipelinesRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1ListPipelinesResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/ListPipelines",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1ListPipelinesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/ListPipelines",
        );
    }

    /**
     * Runs; compile + submit a pipeline, then list / snapshot / signal.
     *
     * @param {Filament.IngestionV1RunPipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.run({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public run(
        request: Filament.IngestionV1RunPipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1RunPipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__run(request, requestOptions));
    }

    private async __run(
        request: Filament.IngestionV1RunPipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1RunPipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/RunPipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1RunPipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/RunPipeline",
        );
    }

    /**
     * @param {Filament.IngestionV1UpdatePipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.update({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public update(
        request: Filament.IngestionV1UpdatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1UpdatePipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Filament.IngestionV1UpdatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1UpdatePipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/UpdatePipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1UpdatePipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/UpdatePipeline",
        );
    }

    /**
     * Pipeline options and validation are resolved for the complete graph.
     *
     * @param {Filament.IngestionV1ValidatePipelineRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.FilamentError}
     * @throws {@link errors.FilamentTimeoutError}
     *
     * @example
     *     await client.pipeline.validate({
     *         "Connect-Timeout-Ms": 1000
     *     })
     */
    public validate(
        request: Filament.IngestionV1ValidatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Filament.IngestionV1ValidatePipelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__validate(request, requestOptions));
    }

    private async __validate(
        request: Filament.IngestionV1ValidatePipelineRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Filament.IngestionV1ValidatePipelineResponse>> {
        const { "Connect-Timeout-Ms": connectTimeoutMs, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Connect-Timeout-Ms": connectTimeoutMs,
                "Connect-Protocol-Version": requestOptions?.connectProtocolVersion ?? "1",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "ingestion.v1.IngestionService/ValidatePipeline",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Filament.IngestionV1ValidatePipelineResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FilamentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ingestion.v1.IngestionService/ValidatePipeline",
        );
    }
}
